<div class="mask"
  [ngClass]="{'mask-fromTop': this.lastEditedInput == 1,
  'mask-toBottom':buttonClicked && this.lastEditedInput == 1,
  'mask-fromBottom': this.lastEditedInput == 2,
  'mask-toTop':buttonClicked && this.lastEditedInput == 2}">
  {{buttonClicked ? maskString : '' }}
</div>

<div class="main">

  <textarea class="green-border"
  placeholder="Binary..."
  (input)="userInput(1)" (click)="userInput(1)" [(ngModel)]="binaryNumber" #numberInput></textarea>

  <button class="green-border"
    (click)="click()"
    [ngClass]="{'button-clicked':buttonClicked}">

    <span class="button-text"
      [ngClass]="{'button-clicked':buttonClicked}">{{buttonClicked ? 'COPIED!' : 'CONVERT'}}</span>
    <span class="typer"></span>

  </button>
  <textarea class="green-border"
  placeholder="Decimal..."
  (input)="userInput(2)" (click)="userInput(2)" [(ngModel)]="decimalNumber" #numberInput></textarea>

</div>
<!-- <router-outlet></router-outlet> -->